#main {
  position: fixed;
  top: 0px;
  left: 25%;
  height: 100%;
}

#nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 25%;
  height: 100%;
  background-color: #b9d796;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navA {
  margin-bottom: 10px;
  margin-top: 15px;
  text-decoration: none;
  font-family: oregonFont;
  font-size: 170%;
  color: black;
}

#icon {
  position: fixed;
  top: -10px;
  right: 0px;
}

.navA:hover {
  background-color: #f689bb;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 75%;
}

#here {
  background-color: #f689bb;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  background-color: #eaeaea;
  padding: 10px;
  border: #eaeaea 5px solid;
  border-radius: 15px;
  margin: auto;
  font-family: casanova;
  font-size: 35px;
  margin-top: 10px;
}

#inputBox:hover {
  opacity: 75%;
}

#inputInside {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.myButton {
  border: solid 3px #f689bb;
  background-color: #f689bb;
  border-radius: 15px;
  font-family: oregonFont;
  width: 30%;
  height: 25%;
}

#part2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#budgetTable {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

#addButtonImage {
  width: 100%;
}
.myTable {
  margin: auto;
  border-collapse: collapse;
  background: #fcdceb;
  width: 75%;
  text-align: center;
  padding: 10px;
  border: 5px solid white;
  border-radius: 30px;
}

.myCaption,
.myTh,
.myTd {
  padding: 20px;
  font-family: casanova;
}

.myCaption {
  text-align: center;
  font-family: oregonFont;
  font-size: 20px;
}
